* {
  background-color: white;
}

.container_item {
  display: inline-block;
  margin: 20px;
  width: 70%;
  gap: 20px;
}

.item {
  font-size: 15px;
  margin: 10px 20px;
  padding: 15px 15px 20px;
  position: relative;
  /* Define o contêiner da pizza como relativo */

  border: 1px solid #303030;
  border-radius: 20px;

  background-color: #f9f9f9;
}

.botao_item, .botao_item a {
  float: right;
  border-color: rgb(154, 0, 0);

  border-radius: 10px;
  padding: 3px;

  background-color: red;
}

.botao_item a img {
    background-color: red;
}



.item img {
    
    width: 20px;
    height: 16px;
    margin: 0;
}

