<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/cardapio.css">
    <link rel="stylesheet" href="css/global.css">
    
    <title>Document</title>

</head>
<body>
   
    <div class="container_pizza">
        <div class="pizza">
            <img src="img/pizza_calabresa.png" class="img_pizza" width="40%">
            <h2 class="nome_pizza">Pizza de Calabresa</h2>
            <p class="desc_pizza">Calabresa, Cebola, Mussarela e Oregano <br> Tamanho: <strong>Grande</strong></p> <br>
            <h3 class="valor_pizza">Valor: R$20,00</h3>
            <button type="submit" name="b2" class="botao_pizza">Adicionar ao Carrinho</button>
        </div>
        <div class="pizza">
            <img src="img/pizza_portuguesa.png" class="img_pizza" width="40%">
            <h2 class="nome_pizza">Pizza de Portuguesa</h2>
            <p class="desc_pizza">Cebola, Mussarela, Oregano, Ovos, Pimentão e Presunto <br> Tamanho: <strong>Grande</strong></p> <br>
            <h3 class="valor_pizza">Valor: R$20,00</h3>
            <button type="submit" name="b2" class="botao_pizza">Adicionar ao Carrinho</button>
        </div>
        <div class="pizza">
            <img src="img/pizza_brigadeiro.png" class="img_pizza" width="40%">
            <h2 class="nome_pizza">Pizza de Brigadeiro</h2>
            <p class="desc_pizza">Chocolate Nestlé Moça e Confetes de Chocolate <br> Tamanho: <strong>Grande</strong></p> <br>
            <h3 class="valor_pizza">Valor: R$20,00</h3>
            <button type="submit" name="b2" class="botao_pizza">Adicionar ao Carrinho</button>
        </div>
        <div class="pizza">
            <img src="img/pizza_charge.png" class="img_pizza" width="40%">
            <h2 class="nome_pizza">Pizza de Charge</h2>
            <p class="desc_pizza">Chocolate Nestlé Moça, Doce de Leite e Amendoim Triturado <br> Tamanho: <strong>Grande</strong></p> <br>
            <h3 class="valor_pizza">Valor: R$20,00</h3>
            <button type="submit" name="b2" class="botao_pizza">Adicionar ao Carrinho</button>
        </div>
    </div>

</body>
</html>