<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/global.css">
    <title>Cabeçalho</title>
</head>

<header>
           <img src="img/bannerpizza.png" width="200">  



           <label for="cart_icon" id="cart_text"><strong>Carrinho</strong></label>
           <p class="cart" id="cart_shop">  <%=numCarrinho%> </p>
           <img src="img/cart3.svg"  id="cart_icon" class="cart"> 
           <p class="textos_direita">Faça seu <br><strong>Pedido!</strong></p>
           <a href="/account" target="_top" >  <p class="textos_direita"> <%=login_section%> <br><strong><%=login_section2%></strong></p></a>
</header>
<nav>
    <a href="/listar" target="body">Meus Pedidos</a>
    <a href="/eletronicos">Meu Endereço</a>
    <a href="/eletronicos">Nossa Localização</a>
</nav>

</html>