<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/logopp.png" type="image/x-icon">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/global.css">
    <title>Login - Prampeiro's Pizzaria</title>
</head>
<body>
    <h1>Tela Login</h1>
    <form action="/login" method="post">
        <h1>Login</h1>
        <label for="inUsuario">Usuario:</label> <br>
        <input type="text" name="inUsuario" value="Prof_Prampeiro" required><br>
        <label for="inSenha">Senha:</label> <br>
        <input type="text" name="inSenha" value="prampreiroif123" required> <br>
        <button type="submit" name="b3">LOGIN</button>
        <p>Recuperar senha</p> <p>Registrar-se</p>
    </form>
</body>
</html>