<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho</title>
</head>

<body bgcolor="lightblue">
    <p align="center">
        <font size="24">Carrinho</font>
    </p>
    <table border='1' align='center' style="font-size: xx-large;">
        <thead>
            <tr>
                <th>Sabor</th>
                <th>Ingredientes</th>
                <th>Valor</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>
            <% for (i=0; i < carrinho.length; i++) { %>
                <tr>
                    <td>
                        <%=carrinho[i].sabor %>
                    </td>
                    <td align="center">
                        <%=carrinho[i].ingredientes %>
                    </td>
                    <td>
                        <%=clientes[i].valor %>
                    </td align="center">
                    <td>
                        <a href='/remover/<%=i%>'><input type='button' value='Remover' /> </a>
                    </td align="center">
                    

                    <% } %>
        </tbody>
    </table>
</body>

</html>